
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body>
    <div class="container">
        <h1 class="h3">Yetkiniz olmayan bir alana erişmeye çalıştınız</h1>
    </div>
</body>
</html>
