<div class="navbar bg-danger navbar-dark navbar-expand-sm">
    <div class="container">
        <a href="/" class="navbar-brand">ShoppApp</a>
        <ul class="navbar-nav mr-auto">@*ml-auto sağa mr-auto sola yaslar*@
            <li class="nav-item">
                <a href="/products" class="nav-link">Products</a>
            </li>
            @if (User.Identity.IsAuthenticated)
            { 
                <li class="nav-item">
                    <a href="" class="nav-link">Cart</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Orders</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/categorylist" class="nav-link">Admin-Kategoriler</a>

                </li>
                <li class="nav-item">
                    <a asp-controller="admin" asp-action="productlist" class="nav-link">Admin-Ürünler</a>
                </li>
            }
            
        </ul>
        <ul class="navbar-nav ml-auto">@*ml-auto sağa mr-auto sola yaslar*@

            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a href="/account/manage" class="nav-link">
                        @User.Identity.Name
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/account/logout" class="nav-link">Logout</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a href="/account/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/account/register" class="nav-link">Register</a>
                </li>
            }
        </ul>
    </div>
</div>